.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

#employee-div {
    width: 80%;
    margin: auto;
}

.dropdown {
    padding: .4em 1em;
    position: relative;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    text-align: left;
    white-space: nowrap;
    width: 14em;
    display: block;
    margin-right: 20px;
    text-overflow: ellipsis;
}

table {
    width: 100%;
}

#table-container {
    width: 100%;
}

th span {
    margin-left: 0.2em;
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

td {
    padding: 0.5em;
}

.pagination {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

.pagination button {
    height: 3em;
    width: 6em;
}

#search {
    margin: 2em 0;
}

#tool-container {
    display: flex;
    justify-content: space-between;
}

#tool-container span {
    align-self: center;
}

#page-index {
    border: #8a8d8d solid 2px;
    padding: 1em 1.2em;
    border-radius: 0.4em;
}

#page-number {
    margin: 0.5em 0;
}